.div_1{
    background-color: cornflowerblue;
    width: 200px;
    padding: 20px;
    border: 5px, solid black;
    box-sizing: border-box;
}

.div_2{
    background-color: crimson;
    width:200px;
    padding: 20px;
    border: 5px, solid black;
    box-sizing: content-box;
}